<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Healthcare Homepage</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/bootstrap.css">
</head>

<body>
  <div class="homepage">
    <div class="homepage-text">
      <h1 class="h1-tag typing-effect">Affordable Online<br> Medical <br>Consultations</h1>
      <p class="typing-effect">We are dedicated to revolutionizing your healthcare <br>experience. With our team of
        compassionate healthcare
        <br>providers, IT technicians, and engineers, we bring you the <br>best telehealth services right to your
        fingertips.
      </p>
      <div class="btn-holder">
        <a class="btn btn-2 hover-slide-down" href="/signup">
          <span>Signup</span>
        </a>
        <a class="btn btn-2 hover-slide-down" href="/login">
          <span>Login</span>
        </a>
      </div>
      <!-- <a href="/signup?user=doctor" class="btn my-2" id="Doctor" type="submit">Signup as Doctor</a>
      <a href="/signup?user=patient" class="btn my-2" id="Patient" type="submit">Signup as Patient</a> -->
    </div>
    <img class="background-img" src="/background.png">
  </div>
</body>

</html>